@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike&family=Ingrid+Darling&family=Inter:wght@100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "inter";
}

  body {
    background-color: white;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    font-size: 70px;
    font-family: "Ingrid Darling";
    font-weight: 400;
    font-style: normal
  }

  .container .search-box {
    width: 1300px;
    height: 40px;
    margin: 30px 0;
  }

  .search-box input {
    width: 100%;
    height: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    top: -50px; 
    bottom: 200px;
    position:bottom; 
    background: white; 
  }

  h2 {
    position: absolute;
    left: 50px;
    width: 300px;
    padding: 10px;
    margin: -20px;  
    font-weight: 600;
    font-size: 20px;
  }

  p{
    position: absolute;
    left: 20px;
    width: 500px;
    padding: 10px;
    margin: 10px;  
    font-weight: 400;
    font-size: 15px;
  }

.profile {
    position: absolute;
    left: 40px;
    margin-top: 50px;
    width: 1250px;
    height: 147px;
    background: #FF8FB1;
    color: white;
    padding: 30px 40px;
}

.profile .profile-info {
    display: flex;
    flex-direction: column;
}

.img {
    width: 50px;
    height: 50px;
}